<div class="container">
    <div class="title-footer">
   <h4 style="margin: 0;">NOA MEDICINE</h4>
    </div>
    <div class="row">
        <div class="rowIcon email">
            <i class="fa-solid fa-envelope fa-lg " style="color: rgb(39, 197, 39);" ></i>
            <p>Email </p>
        </div>
        <div class="rowIcon instagram">
            <i class="fa-brands fa-instagram fa-lg " style="color: red"></i>
            <p>Instagram </p>
        </div>
        <div class="rowIcon face">
            <i class="fa-brands fa-facebook fa-lg " style="color: blue;"></i>
            <p>Facebook </p>
        </div>
        <div class="rowIcon what">
            <i class="fa-brands fa-whatsapp  fa-lg " style="color: green;"></i>
            <p>3885945654 </p>
        </div>
    </div>
</div>