<header>
  <a href="#" class="logo"><img src="./assets/logo_noa_medicine.png" alt=""></a>
  <div class="fa-solid fa-bars" id="menu-icon"></div>
  <ul class="header-list">
    <li><a href="#">Home</a></li>
    <li><a href="#">Turnos</a></li>
    <li><a href="#">Especialidades</a></li>
    <li><a href="#">Servicios</a></li>
    <li><a href="#">Paquetes</a></li>
    <!-- <li class="icon-login"><a href=""><i class="ri-user-line"></i></a></li> -->
  </ul>

  <div class="icon-login" id="icon-login"><a href=""><i class="fa-solid fa-user"></i></a></div>
</header>
