<div class="container-fluid">
    <div class="container-row">
       <div class="row">
       <div *ngFor="let servicio of servicios" class="container-card col-lg-3 col-md-4 col-sm-6 col-12" >
        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{servicio.nombre}}</mat-card-title>
            </mat-card-header>
            <img *ngIf="servicio.image !=''" mat-card-image [src]="servicio.image" alt="img">
            <img *ngIf="servicio.image==''"  mat-card-image src="./assets/sin-imagen.jpg" alt="img">
            <mat-card-content>
                <h4>descripcion</h4>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Conseguir Turno</button>
            </mat-card-actions>
          </mat-card>
       </div>
       </div>
    </div>
</div>
