<h2></h2>
<mat-dialog-content>
    <form [formGroup]="formGroup" class="example-form">
        <div class="row">
          <div class="col-5">
              <mat-form-field class="example-full-width">
                  <mat-label>Nombre</mat-label>
                  <input matInput formControlName="nombre" placeholder="Ingrese nombre">
              </mat-form-field>
          </div>
          <div class="col-5">
            <mat-form-field>
              <mat-label>Precio</mat-label>
              <input matInput formControlName="precio" placeholder="Ingrese Precio" type="number">
            </mat-form-field>
          </div>
            
              <mat-form-field>
                <mat-label>Especialidad</mat-label>
                <mat-select formControlName="servicios" multiple>
                  <mat-option *ngFor="let servicio of servicios" [value]="servicio._id" >
                    {{servicio.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>       

           <mat-form-field class="example-full -width">
              <mat-label>Descripción</mat-label>
              <textarea matInput formControlName="descripcion" placeholder="Ingrese descripción"></textarea>
            </mat-form-field>
      </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="validarPaquete()">Guardar</button>
</mat-dialog-actions>